/* Heading */
h1, h2, h3, h4, h5, h6, p, label, span {
  margin: 0;
}

/* Anchor */
a, .link {
  color: var(--link-color);
  text-decoration: none;
  transition: color 100ms ease-in-out;

  /* Hover & Focus */
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}