/* Navigation */
.nav {
  position: fixed;
  top: calc(#{var(--nav-width)} / 2 + 70px);
  right: -9vh;
  display: inline-flex;
  transform: rotateZ(90deg);

  @media screen and (max-width: 880px) {
    right: -16vh;
  }

  /* Nav list */
  &__list {
    display: flex;
    width: var(--nav-width);
    justify-content: space-between;
    list-style: none;

    a {
      padding: 12px 12px;
      font-size: 1vmax;
    }
  }
}