// @import url("https://rsms.me/inter/inter.css");
@import "./normalize";
@import "./design-system/typography";

:root {
  --debug: "true";

  --color-text: #fff;
  --color-bg: #1d1d1d;
  --color-link: #ff0000;
  // background-color: var(--color-bg);

  /* Colors */
  --color-n0: #fff;
  --color-p500: #ff0000;

  /* Anchor */
  --link-color: var(--color-n0);
  --link-hover-color: var(--color-p500);

  /* Grid container */
  --grid-line-color: rgba(#fff, 1);
  --grid-container-top-padding: 6vw;

  /* Navigation */
  --nav-width: 40vh;

  /* Serif font */
  --font-family-serif: 'DM Serif Display';
  // --font-family-serif: serif;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  cursor: none;
  background-color: var(--color-bg);
  // background-image: url('https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1235&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Grid container */
.grid-container {
  // max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--grid-container-top-padding);
  min-height: 100vh;

  /* Line */
  &__line {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(#fff, 1);
    height: 100vh;
    opacity: 0.2;

    &--one {
      left: 20vw;

      @media screen and (max-width: 480px) {
        left: 15vw;
      }

      @media screen and (min-height: 940px) {
        left: 25vw;
      }
    }

    &--two {
      left: 30vw;

      @media screen and (max-width: 480px) {
        left: 30vw;
      }

      @media screen and (min-height: 940px) {
        left: 33vw;
      }
    }

    &--three {
      right: 30vw;
      display: none;

      @media screen and (max-width: 480px) {
        right: 30vw;
      }

      @media screen and (min-height: 940px) {
        right: 33vw;
      }
    }

    &--four {
      right: 20vw;
      @media screen and (max-width: 480px) {
        right: 15vw;
      }

      @media screen and (min-height: 940px) {
        right: 25vw;
      }
    }

    &--five {
      right: 8vw;

      // @media screen and (max-width: 480px) {
      //   right: 7.2vw;
      // }

      @media screen and (min-height: 940px) {
        right: 5.5vw;
      }
    }
  }
}

/* Section layout */
.section-layout {
  padding-left: 20vw;
  padding-right: 20vw;

  @media screen and (max-width: 480px) {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  @media screen and (min-height: 940px) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;

  &--outer {
    width: 60px;
    height: 60px;
    border: 1px solid var(--color-text);
    z-index: 12000;
    opacity: 0.6;
    left: -30px;
    top: -32px;

    &.active {
      // background-color: red;
      // border-color: red;
      // width: 40px;
      // height: 40px;
      opacity: 0.5;
      transition: all 50ms ease-out;
    }
  }

  &--inner {
    width: 5px;
    height: 5px;
    left: -3px;
    top: -5px;
    z-index: 11000;
    background: var(--color-text);

    &.active {
      // left: 16.5px;
      // top: 16.5px;
      // display: none;
    }
  }
}

.lg-green {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}

.lg-img {
  width: 100px;
  height: 100px;
  // background: #ffffff;
  border-radius: 12px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}
