// @import url("https://rsms.me/inter/inter.css");
@import "./normalize";
@import "./design-system/typography";

:root {
  --debug: "true";

  --color-text: #ffffff;
  --color-bg: #0D0D11;
  --color-link: #ff0000;
  --link-color: #ffffff;
  --link-hover-color: #ff0000;
  --grid-line-color: #ffffff;
  --grid-container-top-padding: 6vw;
  --nav-width: 40vh;
  --font-family-serif: 'DM Serif Display';

  &.light-mode {
    --color-bg: #ffffff;
    --color-text: #0D0D11;
    --grid-line-color: #0D0D11;
    --link-color: #0D0D11;
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  cursor: none;
  background-color: var(--color-bg);
  // background-image: url('https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1235&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

/* Grid container */
.grid-container {
  // max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  @media (orientation: portrait) {
    padding-top: var(--grid-container-top-padding);
  }

  /* Line */
  &__line {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--grid-line-color);
    height: 100vh;
    opacity: 0.2;

    &--one {
      left: 20vw;

      @media screen and (max-width: 480px) {
        left: 15vw;
      }

      @media screen and (min-height: 940px) {
        left: 25vw;
      }
    }

    &--two {
      left: 30vw;

      @media screen and (max-width: 480px) {
        left: 30vw;
      }

      @media screen and (min-height: 940px) {
        left: 33vw;
      }
    }

    &--three {
      right: 30vw;
      display: none;

      @media screen and (max-width: 480px) {
        right: 30vw;
      }

      @media screen and (min-height: 940px) {
        right: 33vw;
      }
    }

    &--four {
      right: 20vw;
      @media screen and (max-width: 480px) {
        right: 15vw;
      }

      @media screen and (min-height: 940px) {
        right: 25vw;
      }
    }

    &--five {
      right: 8vw;

      // @media screen and (max-width: 480px) {
      //   right: 7.2vw;
      // }

      @media screen and (min-height: 940px) {
        right: 5.5vw;
      }
    }
  }
}

/* Section layout */
.section-layout {
  padding-left: 20vw;
  padding-right: 20vw;

  @media screen and (max-width: 480px) {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  @media screen and (min-height: 940px) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;

  @media (orientation: portrait) and (max-width: 768px) {
    display: none;
  }

  &--outer {
    width: 60px;
    height: 60px;
    border: 1px solid var(--color-text);
    z-index: 12000;
    opacity: 0.6;
    left: -30px;
    top: -32px;

    &.active {
      // background-color: red;
      // border-color: red;
      // width: 40px;
      // height: 40px;
      opacity: 0.5;
      transition: all 50ms ease-out;
    }
  }

  &--inner {
    width: 5px;
    height: 5px;
    left: -3px;
    top: -5px;
    z-index: 11000;
    background: var(--color-text);

    &.active {
      // left: 16.5px;
      // top: 16.5px;
      // display: none;
    }
  }
}

.lg-green {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}

.lg-img {
  width: 100px;
  height: 100px;
  // background: #ffffff;
  border-radius: 12px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}

/* Section wrapper */
.section-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;

  @media (orientation: landscape) {
    min-height: 100vh;
  }

  @media (orientation: portrait) {
    min-height: 50vh;
  }
}



// #reveal1 {
//   opacity: 0;
//   -webkit-transform: scale(0.9);
//      -moz-transform: scale(0.9);
//       -ms-transform: scale(0.9);
//        -o-transform: scale(0.9);
//           transform: scale(0.9);
//   -webkit-transition: all 1s ease-in-out;
//      -moz-transition: all 1s ease-in-out;
//       -ms-transition: all 1s ease-in-out;
//        -o-transition: all 1s ease-in-out;
//           transition: all 1s ease-in-out;
// }
// #reveal1.visible {
//   opacity: 1;
//   -webkit-transform: none;
//      -moz-transform: none;
//       -ms-transform: none;
//        -o-transform: none;
//           transform: none;
// }